<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "CinemaDBContext"
		connectionString = "Data Source =DESKTOP-R2DG774\LAVIE;Initial Catalog = CinemaDB;Integrated Security = true"
		providerName = "System.Data.SqlClient"/>
	</connectionStrings>
</configuration>